
.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: rgb(25, 24, 24);
}
a{
  text-decoration:none;

}
p{
  font-size: 16px;
  
}
button{
  background-color: #9d4edd;
  color: beige;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  border-style: none;
  border-radius: 5px;
  margin: 10px 20px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5),
              -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
}
button:hover{
  background-color:#5a189a ;
  cursor: pointer;
}
img{
  width: 450px;
  border-radius: 10px;
  margin: 5% 0%;
  box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.5),
  -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
}

input{
  width: 300px;
  padding: 20px;
  font-size: 20px;
}
textarea{
  width: 300px;
  padding: 20px;
  font-size: 20px;
}


#Navigation{
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  position: fixed;
  background-color: white;
}
.logo{
  margin-right: 30%;
  cursor: pointer;
  
}
.navLinks{
  cursor: pointer;
  font-size: 12px;
}
.navLinks:hover{
  color: #9d4edd;
}

#homepage{
  background-color:#f0fff1 ;
  height: 650px;
  
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#homepage img{
  width: 400px;
  margin: 0px;
  padding: 0px;
  box-shadow: none
}
.homeIntro{
  width: 500px;
  
}

#AboutMe{
  padding: 50px;
}

.extras{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.knowMore{
  width: 500px;
  margin:30px;
  text-align: justify;
}
.skills{
  width: 400px;
  margin: 30px;
}
.allSkills{
  
  display: flex;
  flex-wrap: wrap;
}

.skillsBtn{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  border-style: none;
  border-radius: 10px;
  margin: 10px ;
  background-color: #c2f8cb;
  color:black ;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5),
  0px 0px 0px 0px rgba(255, 255, 255, 0.5);
}
.skillsBtn:hover{
  background-color: #d7f8dd;
  cursor:text;
}

#project-sec{
  background-color: #f0fff1;
  padding: 50px;
}
.intro{
  text-align: center;
}

.projects{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin:30px
}
.project-desc{
  width: 500px;
  margin: 5% 0%;
  text-align: justify;
}
#contact-sec{
  padding: 50px;
}
.form{
  margin: 30px;
  width: 800px;

}
.form-socials{
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.socialMedia{
  margin-top: 40px;
}
.links{
  width: 70px;
  transform: translate(0px,100px);
}
.link{
  margin: 20px 5px;
}

#footer-sec{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px;
}

.intro{
  margin: 10px 10px;
}

.footer-sec p{
  font-size: 15px;
}

.Resume-sec{
  display: grid;
  place-content: center;
}
.resumeHeader{
  padding-top: 50px;
}
